USE [master]
GO
/****** Object:  Database [EWAPI]    Script Date: 06/20/2018 17:19:41 ******/
CREATE DATABASE [EWAPI] ON  PRIMARY 
( NAME = N'EWAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\EWAPI.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EWAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\EWAPI_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EWAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EWAPI]
GO
/****** Object:  Table [dbo].[ImagesInfo]    Script Date: 06/20/2018 17:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImagesInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [int] NULL,
	[ip] [nvarchar](50) NULL,
	[cookie] [nvarchar](50) NULL,
	[createtime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ImagesInfo] ON
INSERT [dbo].[ImagesInfo] ([id], [pid], [ip], [cookie], [createtime]) VALUES (1, 12, N'122', N'111', CAST(0x0000A905011CA45C AS DateTime))
INSERT [dbo].[ImagesInfo] ([id], [pid], [ip], [cookie], [createtime]) VALUES (2, 12, N'122', N'111', CAST(0x0000A905011CCD60 AS DateTime))
SET IDENTITY_INSERT [dbo].[ImagesInfo] OFF
/****** Object:  Table [dbo].[Images]    Script Date: 06/20/2018 17:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[eid] [nvarchar](50) NULL,
	[ename] [nvarchar](50) NULL,
	[epath] [nvarchar](max) NULL,
	[createtime] [nvarchar](50) NULL,
	[num] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Images] ON
INSERT [dbo].[Images] ([id], [eid], [ename], [epath], [createtime], [num]) VALUES (12, N'1529484688', N'390e59.png', N'/upload/20180620/390e59.png', N'2018-06-20 16:51:27', 2)
SET IDENTITY_INSERT [dbo].[Images] OFF
